<p style="color: green"><%= notice %></p>

<%= render @list %>

<div>
  <%= link_to "Edit this category", edit_list_path(@list) %> |
  <%= link_to "Back to my categories", lists_path %>

  <%= button_to "Delete this category", @list, method: :delete %>
</div>
