<p style="color: green"><%= notice %></p>

<%= render @business %>

<div>
  <%= link_to "Edit this payee / vendor", edit_business_path(@business) %> |
  <%= link_to "Back to payees / vendors", businesses_path %>

  <%= button_to "Destroy this payee / vendor", @business, method: :delete %>
</div>
