<!--<div id="<%#= dom_id list_entry %>">
  <p>
    <strong>List:</strong>
    <%#= list_entry.list_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%#= list_entry.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%#= list_entry.value %>
  </p>

  <p>
    <strong>Order number:</strong>
    <%#= list_entry.order_number %>
  </p>

</div>-->
<tr id= "<%= dom_id list_entry %>">
  <td><%= list_entry.name%></td>
  <td><%= list_entry.value %></td>
  <td><%= list_entry.order_number%></td>
  <td class="dt-center"><%= link_to edit_list_entry_path(list_entry.list_id), class: "aOverride" do %><i class="bi bi-pencil"></i><% end %></td>
  <td class="dt-center"><%= link_to [list_entry], data: {turbo_method: :delete, turbo_confirm: "Delete list entry?"}, class: "aOverride" do %><i class="bi bi-trash3"></i><% end %></td>
</tr>