<p style="color: green"><%= notice %></p>

<h1><%= @list.name %> expenses</h1>

<table id="lists" class="table table-striped" data-controller="dataTables">
  <thead>
    <tr>
      <!--<th>id</th><th>list_id</th><th>name</th><th>order_number</th>-->
      <th>Expense</th>
      <th>Priority</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @list_entries.each do |list_entry| %>
      <%= render list_entry %>
    <% end %>
  </tbody>
</table>
<%= link_to "Add "+@list.name+" expense", new_list_list_entry_path(@list) %> | <%= link_to "Back to my categories", lists_path %>