<p style="color: green"><%= notice %></p>

<%= render @receipt %>

<div>
  <%= link_to "Edit this receipt", edit_receipt_path(@receipt) %> |
  <%= link_to "Back to my receipts", receipts_path %>

  <%= button_to "Delete this receipt", @receipt, method: :delete %>
</div>
