<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.number_field :user_id, id: :account_user_id, value: current_user.id, type: :hidden %>
    <%#= form.label :user_id, style: "display: block" %>
    <%#= form.text_field :user_id %>
  </div>

  <div class="form-group">
    <%= form.label :account_number, 'Last 4 digits', style: "display: block" %>
    <%= form.text_field :account_number, class: "form-control", pattern: '\d{4}' %>
  </div>

  <div class="form-group">
    <%= form.label :alias, style: "display: block" %>
    <%= form.text_field :alias, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
